
button
    padding 16px 20px
    background alpha($color-pepe, 8%)
    border none
    // border-bottom 1px solid darken($color-pepe, 20%)
    cursor pointer

.btn-approve
    border none
    outline none
    text-align center
    background transparent
    // border 1px solid blue
    .graphic
        width 90%
        margin 0 auto
        text-align center
        background transparent url('../assets/images/approved-signal-128-pepe.png') center 0 no-repeat
        background-size contain
        text-align center
        // border 1px solid red
    .text
        width 100%
        margin-top 16px
        font-size 0.8rem
        text-align center
