
@require 'variables'
@require 'helpers'
@require 'grid'
@require 'text'
@require 'buttons'
@require 'forms'
@require 'components/*'

*
    margin 0
    padding 0
    box-sizing border-box

html, body
    height 100%
    width 100%
    padding 0
    margin 0
    background $color-pepe url('../assets/images/striped_bg.png') top right repeat
    // background-color $color-pepe
    font-family 'Noto Sans', arial, sans-serif
    font-weight 400
    color #222
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

#app
    display flex
    justify-content center
    height 100%

#page
    width 100%
    max-width 34em
    height 100%
    min-height @height
    padding 20px
    // border 1px solid black

.h-full
    height 100%

.center-h
    justify-content center


header
    font-family 'Galada'

ul.demographics
    
    display block
    margin 0
    padding 0
    
    li
        position relative
        display block
        list-style none
        margin-top 10px
        margin-bottom @margin-top
        
        .bar
            position relative
            display flex
            justify-content center
            height 52px
            border-left 1px solid alpha(darken($color-pepe, 50%), 30%)
            border-right @border-left
            
            .bar-bg
                position absolute
                top 0
                left 0
                bottom 0
                height 52px
                transition all 0.8s ease-out
        
        .label
            align-self center
            text-align right
            z-index 99
            font-size 1.6rem
            // text-shadow -1px 1px 0px #eee
            text-shadow -1px 1px 0px rgba(238, 238, 238, 0.4)

.becky
    font-size 0.9rem
    i
        font-family 'Galada'
        font-size 1.2rem

.homescreen-tip
    position absolute
    left 0
    right 0
    bottom 10px
    color alpha(darken($color-pepe, 30%), 80%)
    font-size 0.7rem
